In [1]:
import pandas as pd
from datetime import datetime

In [2]:
df = pd.read_csv('Words_Further_Improved.csv')

In [3]:
df

,id,word,definition,ratio,partial_ratio,token_sort_ratio,token_set_ratio,WRatio
0,7665,cerh,yaralama,17,25,17,17,22
1,15374,guano,özellikle deniz kuşlarının pisliklerinin bir y...,5,40,6,6,24
2,30349,mütemadi,"sürekli, aralıksız",23,38,17,17,27
3,5253,benek,"güneş lekeleri yöresinde görülen, parlak tanec...",8,40,11,12,34
4,12524,estetik,güzelliği ve güzelliğin insan belleğindeki ve ...,9,43,8,8,32
...,...,...,...,...,...,...,...,...
12740,7830,cima,"i̇nsanlarda çiftleşme, cinsel ilişki",10,50,21,21,30
12741,190,acısız,tadı acı olmayan,27,50,36,36,45
12742,29076,minval,"biçim, yol, tarz",18,33,32,32,30
12743,48203,çomak,ucu topuzlu değnek,17,20,9,9,22
12744,38375,sıhhiye,sağlık işlerinin tümü,29,43,15,15,39

In [6]:
# dropping the ratio	partial_ratio	token_sort_ratio	token_set_ratio	WRatio columns
df.drop(['ratio', 'partial_ratio', 'token_sort_ratio', 'token_set_ratio', 'WRatio'], axis=1, inplace=True)

In [7]:
# creating a new column with the length of the words
df['length'] = df['word'].apply(len)

In [8]:
df

,id,word,definition,length
0,7665,cerh,yaralama,4
1,15374,guano,özellikle deniz kuşlarının pisliklerinin bir y...,5
2,30349,mütemadi,"sürekli, aralıksız",8
3,5253,benek,"güneş lekeleri yöresinde görülen, parlak tanec...",5
4,12524,estetik,güzelliği ve güzelliğin insan belleğindeki ve ...,7
...,...,...,...,...
12740,7830,cima,"i̇nsanlarda çiftleşme, cinsel ilişki",4
12741,190,acısız,tadı acı olmayan,6
12742,29076,minval,"biçim, yol, tarz",6
12743,48203,çomak,ucu topuzlu değnek,5
12744,38375,sıhhiye,sağlık işlerinin tümü,7

In [9]:
# splitting the dataframe depending on the length of the words
for i in range(1, 11):
    globals()['df_{}'.format(i)] = df[df['length'] == i]

In [10]:
# dropping the duplicate words and keeping the first occurence
for i in range(1, 11):
    globals()['df_{}'.format(i)] = globals()['df_{}'.format(i)].drop_duplicates(subset='word', keep='first')

In [11]:
# printing the list of dataframes
for i in range(1, 11):
    print(f'df_{i}')

df_1
df_2
df_3
df_4
df_5
df_6
df_7
df_8
df_9
df_10

In [12]:
del df_1, df_2, df_3

In [13]:
# splitting the dataframes into 2 parts and naming them accordingly, like df_1_1, df_1_2, df_2_1, df_2_2, etc.
# doing this by using even and odd indexes
for i in range(4, 11):
    globals()['df_{}_1'.format(i)] = globals()['df_{}'.format(i)][globals()['df_{}'.format(i)].index % 2 == 0]
    globals()['df_{}_2'.format(i)] = globals()['df_{}'.format(i)][globals()['df_{}'.format(i)].index % 2 != 0]

In [14]:
# shuffling the dataframes
for i in range(4, 11):
    globals()['df_{}_1'.format(i)] = globals()['df_{}_1'.format(i)].sample(frac=1).reset_index(drop=True)
    globals()['df_{}_2'.format(i)] = globals()['df_{}_2'.format(i)].sample(frac=1).reset_index(drop=True)

In [15]:
# for each dataframe, creating a column named releaseDate, starting from today and incrementing by 1 day
for i in range(4, 11):
    globals()['df_{}_1'.format(i)]['releaseDate'] = pd.date_range(datetime.today().strftime('%Y-%m-%d'), periods=len(globals()['df_{}_1'.format(i)]), freq='D')
    globals()['df_{}_2'.format(i)]['releaseDate'] = pd.date_range(datetime.today().strftime('%Y-%m-%d'), periods=len(globals()['df_{}_2'.format(i)]), freq='D')

In [16]:
# concatenating the dataframes
for i in range(4, 11):
    globals()['df_{}'.format(i)] = pd.concat([globals()['df_{}_1'.format(i)], globals()['df_{}_2'.format(i)]], ignore_index=True)

In [17]:
# ordering the dataframes by releaseDate
for i in range(4, 11):
    globals()['df_{}'.format(i)] = globals()['df_{}'.format(i)].sort_values(by='releaseDate')

In [18]:
df_4

,id,word,definition,length,releaseDate
0,33190,peçe,"maske, sır, giz",4,2023-07-27
674,8625,defa,"kez, kere, sefer, yol",4,2023-07-27
675,13802,floş,"selülozdan yapılan, parlak, bükümsüz iplik",4,2023-07-28
1,1872,apaz,avuç,4,2023-07-28
2,49632,ürem,"faiz, getiri",4,2023-07-29
...,...,...,...,...,...
1374,50831,şuur,bilinç,4,2025-06-26
1375,23404,kilo,halter sporunda barın iki ucuna yerleştirilen ...,4,2025-06-27
1376,42004,türe,adalet,4,2025-06-28
1377,49631,ürat,sidik asidi tuzu,4,2025-06-29
1378,22811,kele,"boğa, tosun",4,2025-06-30

In [19]:
# concatenating the dataframes
df = pd.concat([df_4, df_5, df_6, df_7, df_8, df_9, df_10], ignore_index=True)

In [20]:
# ordering the dataframe by releaseDate and length
df = df.sort_values(by=['releaseDate', 'length'])

In [21]:
df

,id,word,definition,length,releaseDate
0,33190,peçe,"maske, sır, giz",4,2023-07-27
1,8625,defa,"kez, kere, sefer, yol",4,2023-07-27
1379,9897,dizel,sıkıştırılmış hava içine püskürtülen yakıtla ç...,5,2023-07-27
1380,48234,çotuk,"asma kütüğü, tevek",5,2023-07-27
4197,39652,tasrih,belirtme,6,2023-07-27
...,...,...,...,...,...
4192,4786,bağım,bir şeyin veya bir kimsenin gücü ve etkisi alt...,5,2027-06-10
4193,44045,yansı,tepke,5,2027-06-11
4194,33226,pikap,"elektrikle veya pille çalışan, plak dinlemekte...",5,2027-06-12
4195,13448,ferda,yarın,5,2027-06-13
4196,25582,kösnü,şehvet,5,2027-06-14

In [22]:
# resetting the index
df = df.reset_index(drop=True)

In [23]:
df

,id,word,definition,length,releaseDate
0,33190,peçe,"maske, sır, giz",4,2023-07-27
1,8625,defa,"kez, kere, sefer, yol",4,2023-07-27
2,9897,dizel,sıkıştırılmış hava içine püskürtülen yakıtla ç...,5,2023-07-27
3,48234,çotuk,"asma kütüğü, tevek",5,2023-07-27
4,39652,tasrih,belirtme,6,2023-07-27
...,...,...,...,...,...
12740,4786,bağım,bir şeyin veya bir kimsenin gücü ve etkisi alt...,5,2027-06-10
12741,44045,yansı,tepke,5,2027-06-11
12742,33226,pikap,"elektrikle veya pille çalışan, plak dinlemekte...",5,2027-06-12
12743,13448,ferda,yarın,5,2027-06-13
12744,25582,kösnü,şehvet,5,2027-06-14

In [24]:
# replacing the values in id
for i in range(len(df)):
    df.loc[i, 'id'] = i + 1

In [25]:
df.dtypes

id                      int64
word                   object
definition             object
length                  int64
releaseDate    datetime64[ns]
dtype: object

In [29]:
df

,id,word,definition,length,releaseDate
0,1,peçe,"maske, sır, giz",4,2023-07-27
1,2,defa,"kez, kere, sefer, yol",4,2023-07-27
2,3,dizel,sıkıştırılmış hava içine püskürtülen yakıtla ç...,5,2023-07-27
3,4,çotuk,"asma kütüğü, tevek",5,2023-07-27
4,5,tasrih,belirtme,6,2023-07-27
...,...,...,...,...,...
12740,12741,bağım,bir şeyin veya bir kimsenin gücü ve etkisi alt...,5,2027-06-10
12741,12742,yansı,tepke,5,2027-06-11
12742,12743,pikap,"elektrikle veya pille çalışan, plak dinlemekte...",5,2027-06-12
12743,12744,ferda,yarın,5,2027-06-13
12744,12745,kösnü,şehvet,5,2027-06-14

In [30]:
df.to_csv('Words_Release_Further_Improved.csv', index=False)

In [4]:
df = pd.read_csv('Words_Release_Further_Improved.csv')

In [5]:
df

,id,word,definition,length,releaseDate
0,1,peçe,"maske, sır, giz",4,2023-07-27
1,2,defa,"kez, kere, sefer, yol",4,2023-07-27
2,3,dizel,sıkıştırılmış hava içine püskürtülen yakıtla ç...,5,2023-07-27
3,4,çotuk,"asma kütüğü, tevek",5,2023-07-27
4,5,tasrih,belirtme,6,2023-07-27
...,...,...,...,...,...
12740,12741,bağım,bir şeyin veya bir kimsenin gücü ve etkisi alt...,5,2027-06-10
12741,12742,yansı,tepke,5,2027-06-11
12742,12743,pikap,"elektrikle veya pille çalışan, plak dinlemekte...",5,2027-06-12
12743,12744,ferda,yarın,5,2027-06-13
12744,12745,kösnü,şehvet,5,2027-06-14

In [6]:
# reducing 1 day from the releaseDate
df['releaseDate'] = pd.to_datetime(df['releaseDate']) - pd.to_timedelta(1, unit='d')

In [9]:
df

,id,word,definition,length,releaseDate
0,1,peçe,"maske, sır, giz",4,2023-07-26
1,2,defa,"kez, kere, sefer, yol",4,2023-07-26
2,3,dizel,sıkıştırılmış hava içine püskürtülen yakıtla ç...,5,2023-07-26
3,4,çotuk,"asma kütüğü, tevek",5,2023-07-26
4,5,tasrih,belirtme,6,2023-07-26
...,...,...,...,...,...
12740,12741,bağım,bir şeyin veya bir kimsenin gücü ve etkisi alt...,5,2027-06-09
12741,12742,yansı,tepke,5,2027-06-10
12742,12743,pikap,"elektrikle veya pille çalışan, plak dinlemekte...",5,2027-06-11
12743,12744,ferda,yarın,5,2027-06-12
12744,12745,kösnü,şehvet,5,2027-06-13

In [10]:
df.to_csv('Words_Release_Further_Improved.csv', index=False)